@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600&family=Hammersmith+One&family=Inter:wght@100;400&family=Lato:wght@100&family=Manrope:wght@300&family=Open+Sans:wght@500&family=PT+Sans:ital@1&family=Playfair+Display&family=Poppins&family=Red+Hat+Display:wght@300&family=Roboto:wght@100;300;400;700&family=Rubik:wght@300;400&family=Signika+Negative&family=Silkscreen&display=swap");
.new-nav {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3rem;
}
.hero {
  background-color: black;
}
.detail-d{
  width: 70%;
  margin: 0;
  padding: 0;
}
.yellow-project {
  width: 38%;
  
}
.name-project {
  font-size: 45px;
}
.perfumery {
  border: 1px solid #404040;
  background-color: #404040;
}

.hero {
  height: 145vh;
  font-family: "Lato";
}
.holder{
  margin-right: 5rem;
  gap: 5.5rem;
}
.perfumery {
  border: 1px solid #404040;
  background-color: #404040;
  width:140%;
  font-size: 18px;
  font-weight: 800;
  height: 8rem
}
.ss img {
  width: 10px;
  height: 0.6rem;
}
.orange {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 500;
  color: #f16529;
}
.bold {
  font-size: 16px;
  font-family: "Hammersmith One";
  font-weight: 400;
}
.git-hub {
  font-size: 12px;
  font-weight: 300;
  font-family: "Hammersmith One";
  margin-top: 0.1rem;
}

.web {
  font-size: 12px;
  font-weight: 300;
  font-family: "Hammersmith One";
  margin-top: 0.1rem;
}
.holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}

@media (max-width: 768px) {
  .yellow-project {
    width: 55%;
    margin-left: 5rem;
  }
  .hero {
    height: 218vh;
    font-family: "Lato";
  }
  .perfumery {
    border: 1px solid #404040;
    background-color: #404040;
    width: 102%;
    font-size: 12px;
    font-weight: 800;
  }
  .persona-d{
    display: none;
  }
  .ss img {
    width: 10px;
    height: 0.6rem;
  }
  .orange {
    font-family: "Lato";
    font-size: 10px;
    font-weight: 500;
    color: #f16529;
  }
  .bold {
    font-size: 13px;
    font-family: "Hammersmith One";
    font-weight: 400;
  }
  .git-hub {
    font-size: 10px;
    font-weight: 300;
    font-family: "Hammersmith One";
    margin-top: 0.2rem;
  }

  .web {
    font-size: 10px;
    font-weight: 300;
    font-family: "Hammersmith One";
    margin-top: 0.2rem;
  }
  .holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1;
  }
  .name-project{
   font-size: 40px;
  }
  .detail-d{
    width: 100%;
  }
  
}
